@font-face {
    font-family: Vaani;
    src: url(/cssbasic/fonts/MuktaVaani-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: Vaani;
    src: url(/cssbasic/fonts/MuktaVaani-Bold.ttf) format("truetype");
    font-weight: 900;
}